.PadreDetallePelicula {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
    margin-bottom: 50px;
}

.DetallePoster {
    text-align: center;
    color: grey;
    margin-bottom: 30px;
}

.DetallePoster img {
    max-width: 230px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;

}

.DetalleInfo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    text-align: left;
    width: 100%; 
    max-width: 650; 
    margin-bottom: 30px;
   
}

.DetalleInfo p {
    margin: 10px 0;
    font-size: 1rem;
}

.Generos {
    margin-top: 10px;
}

.Generos p {
    display: inline;
    margin-right: 10px;
}



button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cargando {
    font-size: 40px;
    color: #d0c074;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 10%;
    animation: blink 1.5s ease-in-out infinite;
    margin-top: 10%;
}


.DetallePoster h2 {
    font-size: 2rem; 
    font-weight: bold; 
    color: #333; 
    margin: 20px 0; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border-bottom: 2px solid rgba(61, 59, 50, 0.3); 
    padding-bottom: 10px; 
    background-color: rgba(240, 240, 240, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 450px) {
    .PadreDetallePelicula {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .DetallePoster img {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .DetalleInfo {
        padding: 10px;
        width: 90%;
        max-width: 300px;
    }
}