nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #222; 
    padding: 15px 30px; 
}

.logo {
    height: 70px; 
    width: auto; 
}

.main-nav {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
}

.main-nav li {
    margin: 0 20px;
}

.main-nav a {
    text-decoration: none; 
    color: #f9f9f9; 
    font-size: 1.2rem; 
    transition: color 0.3s; 
}

.main-nav a:hover {
    color: #f39c12; 
}

