nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ded4d4;
    padding: 1rem;
}

/* Estilos para la imagen del logo */
.logo {
    width: 120px;
    height: auto;
}

/* Estilos para el contenedor del menú */
.main-nav {

    display: flex;
    margin: 0;
    padding: 0;
}


.main-nav li {
    margin-left: 20px;
}




